<mat-card class="card">
    <img
        mat-card-image
        class="card-image"
        [src]="product.images[0].url"
        [alt]="product.images[0].source"
    />
    <div class="card-content">
        <div [style.padding-bottom.px]="8">
            <mat-card-title>{{ product.name }}</mat-card-title>
        </div>
        <span>
            Рейтинг товара: {{ product.rating }}
            <i class="card-star">&starf;</i>
        </span>
        <div class="card-price-block">
            <span class="card-price-text">Цена товара: {{ product.price }} p.</span>
            <mat-card-actions>
                <button mat-button (click)="action($event, product._id)">Купить</button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>
