<app-header></app-header>

<h1>
    <!-- Hello -->
    <!-- {{(1 + 1) * 4}} -->
    <!-- {{ {name: 'Egor'} }} -->
    <!-- {{this.title}} -->

    {{ title.toLowerCase() }}
    {{ getObject() }}
</h1>

<!-- <img src="{{logoPath}}" /> -->
<img alt="logo" [class.toggle]="true" [src]="logoPath" [style.width.%]="50" />

<!-- <element (click)="onClick($event)">
    |
    V
element.addEventListener('click', $event => {
    ctx.onClick($event)
})-->

<button (click)="onClick($event)">Click me</button>

<input (input)="onInput($event)" />
<input (keydown.enter)="onInput($event)" />
